* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: fantasy;
  font-size: 20px;
  line-height: 2;
}
header {
  background:  fixed url(imgs/st1.jpg);
}
header h1 {
  height: 400px;
  line-height: 400px;
  color: orange;
  font-family: helvetica, arial, sans-serif;
  font-size: 144px;
  text-align: center;
  text-shadow: 0 0 100px black;
}
section,
aside {
  width: 65%;
  margin: 1em auto;
}